{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{time.id}}" method="post">
    <h5 class="card-title">Index: {{ time.id }}</h5>
    <div class="row">
        <div class="col">
            <label for="eruptLgth">Eruption Length (minutes)</label>
            <input id="eruptLgth" type="text" class="form-control" placeholder="Eruption Length" name="eruptLgth" value="{{time.eruptLgth}}">
        </div>
        <div class="col">
            <label for="eruptWait">Eruption Wait (minutes)</label>
            <input id="eruptWait" type="text" class="form-control" placeholder="Eruption Wait" name="eruptWait" value="{{time.eruptWait}}">
        </div>
    </div>
    <br><br>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}